$cream: #fcf8f3;
$white: #fff;
$black: #000;
$lightGray: #a6a6a6;
$primeGreen: #d8f055;
$purple: #8870ff;
$lightRed: #f25b5c;
$lightOrange: #ffb278;
$darkPink: #fc9985;
$lightGreen: #bddebc;
$green: #20bf55;
$maroon: #cf0000;
$darkYellow: #ff9400;
$gray: #e2dfda;
$lightBlue: #a2cdff;
$darkBlue: #328dff;
$placeholder: #6c6c6c;
$yellow: #ffe248;
$grayStar: "#e4e4e4";
$coffee: #f3efea;
$darkCream: #e8ddd0;
$darkGray: #b6b6b6;

$primaryShadow: 3px 3px 0px 0px $black;
